html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.map{
    width: 100vw;
    height: 30vh;
}
body{
    background-color: #f44242;
}
.planes-div{
  font-family: 'Righteous', sans-serif;
  color: black;
  background-color: #FDF3E7;
  margin-left: 5%;
  display: inline-block;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px 30px 5px;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0, 0.98, 0, 2);
  transform: scale(0.95);
 }
 .planes-div:hover{
    background:#53a7ea;
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
    z-index: 22;
 }
    
.flip-image{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.details-logo{
    width: 50%;
    border-radius: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.details-logo:hover{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
.details-page{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
.details-page div{
        font-size: 2.85rem;
        vertical-align: middle;
        line-height: 1; 
        margin-bottom: 4%;
}
.details-page div span{
    font-family: 'Orbitron', sans-serif;
}
.company-name{
    font-family: 'Righteous', sans-serif;
}
.error-msg{
    padding: 15%;
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
}

@media screen and (min-width: 400px) {
    .planes-div {
      margin-left: 7%;
      width: 39%; } 
    .planes-div img {
        margin: block;
        width: 60%;
        
    }
    }
@media screen and (min-width: 500px){
    .error-msg{
        padding: 15%;
        font-family: 'Righteous', sans-serif;
        font-size: 3rem;
    }
    .details-logo{
        width: 35%;
        border-radius: 50%;
        margin-left: 25%;
        margin-right: 25%;
     
    }
}
@media screen and (min-width: 800px){
    .details-logo{
        width: 35%;
        border-radius: 50%;
        margin-left: 25%;
        margin-right: 25%;
     
    }
    .name-and-logo{
        margin-left: 3%;
        float: left;
    }
}
@media screen and (min-width: 1060px) {
    .planes-div {
        margin-left: 4%;
        width: 20%; } 
    .planes-div img {
        margin: block;
        width: 60%;
          
    }

    .error-msg{
        padding: 15%;
        font-family: 'Righteous', sans-serif;
        font-size: 4rem;
    }
    .name-and-logo{
        float: none;
    }
    .details-logo{
        width: 20%;
        border-radius: 50%;
        margin-left: 0;
        margin-right: 0;
        float: left;
     
    }
    .details-page .company-name{
        margin-left: 3%;
        font-family: 'Righteous', sans-serif;
        float: left;
        display: block;
    }
    }
    @media screen and (min-width: 1400px) {
        .map{
            width: 100vw;
            height: 100vh;
        }
        .planes-div {
            font-size: 0,3rem;
            position: fixed;
            width: 9%; } 
        .planes-div img {
            margin: block;
            width: 60%;
                
        }
        }    